# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/
*.mkv
